<!DOCTYPE html>
<html>

<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,300i,400,500,600,700" rel="stylesheet">
<body style="font-family: 'Poppins', sans-serif;">

<table style="margin: 20px;display: block;" cellspacing="0" cellpadding="0" border="0" width="600">
    <thead>
        <td> <img class="logo" style="width: 40%;" src="https://app.bookedfusion.com/static/img/logo-new.png"></td>
    </thead>
    <tbody style="border: 1px solid #e0e0e0;display: block;margin-top: 10px;border-left: 0px;border-right: 0px;padding: 20px;">
     <tr>
         <td align="center">
             <p style="font-weight: 500;font-size: 16px;">
                {{ fallback_message }}
             </p><br>
             <a class="btn btn-main" style="text-decoration: none;font-family: inherit;font-weight: 500;padding: 10px 20px;background: #0069ff;color: #fff;border: 0px;" href="{{ message_view_link }}"> Click Here to Reply Back </a>
         </td>
     </tr>
    </tbody>
  
</table>
<footer>
    <table style="margin: 20px;display: block;">
        <tbody style="padding: 0px;border: 0px;">
        <tr>
            <td>
                    <p style="margin-top: 0px;font-weight: 400;font-size: 14px;color: #929292;padding: 40px;padding-top: 0px;padding-bottom: 0px;">
                            Ink Response International<br>
                            2123 Old Spartanburg RD, 201<br>
                            Greer, SC 29650<br>
                            United States
                    </p>
            </td>
        </tr>
        </tbody>
    </table>
</footer>
</body>
</html>