# Byte-compiled / optimized / DLL files
*.idea/

shoppest.pid

*.egg-info
*.pot
.tox/
__pycache__
MANIFEST
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
*.log
/celerybeat-schedule.dir
/celerybeat-schedule.bak
/celerybeat-schedule.dat
/db.sqlite3
/backend/local_settings.py
/backend/.env.json
.fab_tasks~
.keys/
.directory
.cache/
.idea/
/static/
easy.pid
.local/
/celerybeat-schedule
logs/
.coverage
htmlcov/
media/
.venv/
src/
.todos.md
/*.zip
/*.tar.gz
backend/env.py
/dist/
scratch_files/
.pytest_cache/
backups/
