<table style="max-width:650px;padding:30px 10px;" class="container" width="100%" cellspacing="0" cellpadding="0"
       border="0" align="center">
    <tbody>
    <tr>
        {% block content %}{% endblock content %}
    </tr>
    <tr style="font-size:10px; color: #a0a0a0;">
        <td colspan="4" align="center">Powered by
            <a style="text-decoration: underline; color: #a0a0a0;" href="http://bookedfusion.com">Booked Fusion</a></td>
    </tr>
    <tr>
        <td style="background: #fafafa">
            <table>
                <tr>
                    <td>
                        <br/>
                        <br/>
                        <p style="font-size: small; font-weight: bold; color: grey">Unsubscribe:</p>
                        <p style="text-align: center; font-size: smaller; color: grey"> Click <a
                            href="{{ unsubscribe_link }}" style="color: #333333">here</a> to stop receiving from any
                            event notifications and reminders. </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    </tbody>
</table>
