    <td style="padding:20px 25px;margin:0;border:1px solid #efefef;border-radius:3px;" class="padding-wrapper"
        bgcolor="#ffffff">
        <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
            <tbody>
            <tr>
                <td align="center"
                    style="padding:35px 0 5px 0;font-size:30px;font-family:sans-serif;color:#999999;font-weight:bold;"
                    class="header-padding">Appointment Cancelled
                </td>
            </tr>
            <tr>
                <td align="center"
                    style="padding:15px 0 15px 0;font-size:21px;line-height:25px;font-family:sans-serif;color:#333333;"
                    class="header-padding">for {{ first }} {{ last }}
                </td>
            </tr>
            </tbody>
        </table>
        <hr style="border:1px solid #efefef;">
        <table cellspacing="0" cellpadding="0" width="100%">
            <tbody>
            <tr>
                <td style="padding:25px 0 10px 0;font-size:18px;line-height:25px;font-family:sans-serif;text-align:left;color:#999999;"
                    valign="top" width="60">What
                </td>
                <td style="padding:25px 0 10px 0;font-size:18px;line-height:25px;font-family:sans-serif;text-align:left;color:#333333;">
                    {{ type }} ({{ provider }})
                </td>
            </tr>
            <tr>
                <td style="padding:10px 0 25px 0;font-size:18px;line-height:25px;font-family:sans-serif;text-align:left;color:#999999;"
                    valign="top" width="60">When
                </td>
                <td style="padding:10px 0 25px 0;font-size:18px;line-height:25px;font-family:sans-serif;text-align:left;color:#333333;">
                    {{ time }}
                </td>
            </tr>
            <tr>
                <td style="padding:10px 0 25px 0;font-size:18px;line-height:25px;font-family:sans-serif;text-align:left;color:#999999;"
                    valign="top" width="60">Where
                </td>
                <td style="padding:10px 0 25px 0;font-size:18px;line-height:25px;font-family:sans-serif;text-align:left;color:#333333;">
                   
                </td>
            </tr>
            <tr>
                <td style="padding:10px 0 25px 0 !important;font-size:18px;line-height:25px;font-family:sans-serif;text-align:left;color:#999999;" width="60" valign="top">
                  Where
                </td>
                <td style="padding:10px 0 25px 0 !important;font-size:18px;line-height:25px;font-family:sans-serif;text-align:left;color:#333333;">
                  
                </td>
              </tr>
            </tbody>
        </table>
        <table cellspacing="0" cellpadding="0" width="100%">
            <tbody>
            <tr>
                <td colspan="2" align="left"
                    style="padding:10px 0 10px 0;font-size:16px;line-height:25px;font-family:sans-serif;color:#999999;"
                    class="custom-confirmation">Your appointment has been successfully canceled.
                </td>
            </tr>
            </tbody>
        </table>
        <br>
    </td>