<td style="padding:20px 25px !important;margin:0;border:1px solid #efefef;border-radius:3px;" class="padding-wrapper"
    bgcolor="#ffffff">
    <table width="100%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td
                    style="padding:25px 0 10px 0 !important;font-size:18px;line-height:25px;font-family:sans-serif;text-align:left;color:#999999;">
                    Hi {{ first }}
                </td>
            </tr>
            <tr>
                <td
                    style="padding:10px 0 10px 0 !important;font-size:16px;line-height:25px;font-family:sans-serif;color:#999999;">
                    Thanks for coming in today! Please help us to understand how we're doing. Rate your experience below
                    it only takes 5
                    seconds to do.
                </td>
            </tr>
        </tbody>
    </table>
    <p><br></p>
    <hr style="border:1px solid #efefef;">
    <table cellspacing="5" cellpadding="0" border="0" align="center">
        <tbody>
            <tr>
                <td valign="top" style="text-align: center;padding: 5px;width: 20%;">
                    <a href="{{ feedback_links.5 }}"
                        style="color:#FFC107 !important;text-decoration:none !important; font-size: 50px;">
                        <img src="https://app.bookedfusion.com/static/img/emojis/outstanding.png" width="50"
                            height="50" />
                        <div style=" font-size: 16px; margin-top: 10px; color: #464646;">Outstanding</div>
                    </a>
                </td>
                <td valign="top" style="text-align: center;padding: 5px;width: 20%;">
                    <a href="{{ feedback_links.4 }}"
                        style="color:#FFC107 !important;text-decoration:none !important; font-size: 50px;">
                        <img src="https://app.bookedfusion.com/static/img/emojis/smiling.png" width="50" height="50" />
                        <div style=" font-size: 16px; margin-top: 10px; color: #464646;">Good, I'm satisfied</div>
                    </a>
                </td>
                <td valign="top" style="text-align: center;padding: 5px;width: 20%;">
                    <a href="{{ feedback_links.3 }}"
                        style="color:#FFC107 !important;text-decoration:none !important; font-size: 50px;">
                        <img src="https://app.bookedfusion.com/static/img/emojis/confused.png" width="50" height="50" />
                        <div style=" font-size: 16px; margin-top: 10px; color: #464646;">Could be better</div>
                    </a>
                </td>
                <td valign="top" style="text-align: center;padding: 5px;width: 20%;">
                    <a href="{{ feedback_links.2 }}"
                        style="color:#FFC107 !important;text-decoration:none !important; font-size: 50px;">
                        <img src="https://app.bookedfusion.com/static/img/emojis/sad.png" width="50" height="50" />
                        <div style=" font-size: 16px; margin-top: 10px; color: #464646;">Bad, I'm unsatisfied</div>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</td>