{% extends "email/base.html" %}
{% block content %}
    <td style="padding:20px 25px !important;margin:0;border:1px solid #efefef;border-radius:3px;"
        class="padding-wrapper" bgcolor="#ffffff">
        <table width="100%" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td style="padding:25px 0 10px 0 !important;font-size:18px;line-height:25px;font-family:sans-serif;text-align:left;color:#999999;">
                    Hi {{ name }},
                </td>
            </tr>
            <tr>
                <td style="padding:10px 0 10px 0 !important;font-size:16px;line-height:25px;font-family:sans-serif;color:#999999;">
                    Your account has been successfully created.
                </td>
            </tr>
            </tbody>
        </table>
        <table width="100%" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td colspan="2"
                    style="padding:10px 0 10px 0 !important;font-size:22px;line-height:25px;font-family:sans-serif;color:#464545;"
                    class="custom-confirmation" align="center">
                </td>
            </tr>
            </tbody>
        </table>
        <p>
            <br>
        </p>
        <hr style="border:1px solid #efefef;">
    </td>
{% endblock %}
